.korail-layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: #f6f4eb;
}

.left-panel,
.right-panel {
  flex: 1;
  background-color: #4682a9;
}

.center-panel {
  flex: 3;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.korail-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
