img {
  width: 30vw;
}

.SNBimg {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imgG {
  display: flex;
  justify-content: center;
}

.seat2,
.seat3,
.seat4,
.seat5,
.seat17,
.seat18,
.seat19,
.seat20 {
  width: 4.7vw;
}

.seat2,
.seat3,
.seat4,
.seat5,
.seat17,
.seat18,
.seat19,
.seat20 :hover {
  cursor: pointer;
}

.seat8 {
  width: 6.5vw;
  margin-left: 0.7vw;
}

.seat-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 40vw;
}

.complete-button {
  border: none;
  background-color: #223e72;
  color: white;
  padding: 0.5vw 0vw;
  font-size: 1.5vw;
  cursor: pointer;
}
