.bodySection {
  position: relative;
  bottom: 3.1vh;
  overflow: auto;
  height: 50vh;
}
table {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bev_name {
  margin: 0;
  font-size: 1vw;
  font-weight: bolder;
}
.price {
  margin: 0;
  color: red;
  font-size: 0.9vw;
}
img {
  width: 13vw;
  height: 25vh;
}
tbody {
  background-color: #ffc519;
}
td {
  border: 1px solid #ffc519;
  background-color: white;
}
.info {
  background-color: white;
}
