/* MegaMenu.css */
.E-menu {
  position: absolute;
  top: 8.7vh;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100%);
  background-color: #ffc519;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  font-size: 2vh;
  padding: 2vh 4vh;
  text-align: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: background-color 0.2s;
  flex-basis: 25%;
  box-sizing: border-box;
}

.menu-item.selected {
  background-color: #333;
  color: white;
}