/* myposting 과 mycomment의 css */
/* 사이드바와 영역 나눔 */
.questionJ-devide {
  width: 80vw;
}
/* 소통해요 페이지 상단 */
.questionJ-Upside {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.policyJ-category {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 60vh;
}
.policyJ-category div {
  margin-right: 1vw;
}
/* 소통해요 게시판 글이 나올 영역 */
.questionJ-table {
  width: 80vw;
}
