#roleE-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#roleE-title {
  font-size: 4vh;
  margin-bottom: 3vh;
}

.role-buttons {
  display: flex;
  align-items: center;
  gap: 3vh;
}

.roleE-button {
  font-size: 10vh;
  width: 30vh;
  height: 30vh;
  border-radius: 5vh;
  background-color: #F6F4EB;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.roleE-button span {
  display: block;
}

.roleE-role {
  font-size: 3.5vh;
  margin-top: 1vh;
}